In [2]:
pip install faker

Collecting faker
  Downloading faker-37.8.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\admin\anaconda3\lib\site-packages (from faker) (2025.2)
Downloading faker-37.8.0-py3-none-any.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.5/2.0 MB 1.8 MB/s eta 0:00:01
   ---------------- ----------------------- 0.8/2.0 MB 1.9 MB/s eta 0:00:01
   -------------------------- ------------- 1.3/2.0 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 1.8/2.0 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 1.9 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.8.0
Note: you may need to restart the kernel to use updated packages.

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement caas_jupyter_tools (from versions: none)
ERROR: No matching distribution found for caas_jupyter_tools

In [7]:
import pandas as pd
import numpy as np
from faker import Faker
import random

# Initialize faker
fake = Faker()

# Set random seed for reproducibility
random.seed(42)
np.random.seed(42)

# Number of dummy records
n = 5000

# Generate dummy data
data = {
    "id": range(1, n+1),
    "Gender": [random.choice(["Male", "Female"]) for _ in range(n)],
    "Age": [random.randint(18, 75) for _ in range(n)],
    "Travel category": [random.choice(["Personal", "Business"]) for _ in range(n)],
    "Travel Class": [random.choice(["Economy", "Premium", "Business"]) for _ in range(n)],
    "Distance Travelled": [random.randint(20, 2000) for _ in range(n)],
    "Departure/Arrival Rating": [random.randint(1, 5) for _ in range(n)],
    "Booking Ease": [random.randint(1, 5) for _ in range(n)],
    "Boarding Point": [fake.city() for _ in range(n)],
    "Food": [random.randint(1, 5) for _ in range(n)],
    "Seat Comfort": [random.randint(1, 5) for _ in range(n)],
    "Entertainment": [random.randint(1, 5) for _ in range(n)],
    "Leg Room": [random.randint(1, 5) for _ in range(n)],
    "Luggage Handling": [random.randint(1, 5) for _ in range(n)],
    "Cleanliness": [random.randint(1, 5) for _ in range(n)],
    "Departure Delay (min)": [max(0, int(np.random.normal(15, 10))) for _ in range(n)],
    "Arrival Delay (min)": [max(0, int(np.random.normal(20, 15))) for _ in range(n)],
}

# Satisfaction outcome based on some logic (dummy)
satisfaction = []
for i in range(n):
    if data["Seat Comfort"][i] >= 4 and data["Cleanliness"][i] >= 4 and data["Departure Delay (min)"][i] < 30:
        satisfaction.append("satisfied")
    else:
        satisfaction.append(random.choice(["satisfied", "dissatisfied"]))
data["Satisfaction"] = satisfaction

# Create DataFrame
df_dummy = pd.DataFrame(data)


# Save to CSV for reuse
df_dummy.to_csv("dummy_transport_satisfaction.csv", index=False)

df_dummy.head()

,id,Gender,Age,Travel category,Travel Class,Distance Travelled,Departure/Arrival Rating,Booking Ease,Boarding Point,Food,Seat Comfort,Entertainment,Leg Room,Luggage Handling,Cleanliness,Departure Delay (min),Arrival Delay (min),Satisfaction
0,1,Male,27,Personal,Premium,1693,3,3,New Samantha,4,4,2,4,4,3,19,13,satisfied
1,2,Male,35,Business,Premium,1229,5,5,Nicoleville,3,3,1,4,1,5,13,13,satisfied
2,3,Female,71,Personal,Premium,573,3,3,Wilkersonland,3,3,5,2,3,4,21,0,satisfied
3,4,Male,19,Business,Business,1640,2,3,Brianville,5,4,4,5,1,5,30,15,satisfied
4,5,Male,39,Business,Business,358,2,5,South Donna,2,5,2,4,3,3,12,30,dissatisfied